.page h1.format-icon:before {
    content: none;
    }
* {
    vertical-align: baseline;
    background: transparent;
    background-color: #151515;
}
body {
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
div {
    padding-bottom: 25px;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
a {
    color: white;
    transition: .4s;
}
.whisper {
    color: darkgray;
    text-align: center; 
    font-size: 12px;
}
a:hover{
    font-size: large;
    color: black;
    background-color: rgb(125, 240, 211);
}

.time, span{
    font-size:45px;
    font-family: 'Roboto', sans-serif;

    display: inherit;
    text-align: center;
    justify-content: center;
}